/**
 * @license
 * MyFonts Webfont Build ID 2819353, 2014-05-28T07:46:09-0400
 * 
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are 
 * explicitly restricted from using the Licensed Webfonts(s).
 * 
 * You may obtain a valid license at the URLs below.
 * 
 * Webfont: Centima Bold by TipografiaRamis
 * URL: http://www.myfonts.com/fonts/tipografiaramis/centima/bold/
 * Copyright: Copyright (c) 2011 by Ramiz Guseynov. All rights reserved.
 * Licensed pageviews: 10,000
 * 
 * 
 * License: http://www.myfonts.com/viewlicense?type=web&buildid=2819353
 * 
 * © 2014 MyFonts Inc
*/


/** must be at top of file, otherwise CSS will not work */
@import url("http://hello.myfonts.net/count/2b0519");

  
@font-face {font-family: 'Centima-Bold';src: url('webfonts/2B0519_0_0.eot');src: url('webfonts/2B0519_0_0.eot?#iefix') format('embedded-opentype'),url('webfonts/2B0519_0_0.woff') format('woff'),url('webfonts/2B0519_0_0.ttf') format('truetype');}
 