#page-wrapper-admin{margin:auto!important;position:relative!important;width:1078px!important;font:12px Arial,Helvetica,sans-serif;color:#000000!important}

#content-admin h1, h2, h3, h4, h5, h6, p, ul, li, div, form, input, label, img, button, select, textarea, span, table {color: #000000!important;font:Arial,Helvetica,sans-serif}

#page-wrapper-admin #content-admin{font:12px Arial,Helvetica,sans-serif!important;color:#000000!important}

.bodyIframe a{color:#2973B2!important;text-decoration:none!important;font-weight:normal!important;font-family:Arial,Helvetica,sans-serif!important}

.bodyIframe a:hover{color:#2973B2!important;text-decoration:underline!important;font-weight:normal!important;font-family:Arial,Helvetica,sans-serif!important}

#page-wrapper-admin a{color:#2973B2!important;text-decoration:none!important;font-weight:normal!important}

#page-wrapper-admin a:hover{color:#2973B2!important;text-decoration:underline!important;font-weight:normal!important}

#page-wrapper-admin h3.MainHeaderClass{color:Black!important;font-size:15px!important;font-weight:bold!important;left:-61px!important;margin:0 0 8px!important;padding:8px 3px 8px 10px!important;position:relative!important;text-align:center!important;width:310px!important;font-family:"Segoe UI"!important;background:none!important;}

#page-wrapper-admin h3.HeaderClass{background:none!important;color:#000000!important;font-family:Arial,Helvetica,sans-serif!important;font-size:small!important;font-weight:bold!important;left:0!important;margin:0 0 8px!important;padding:8px 3px 8px 0px!important;position:relative!important;text-align:left!important;top:0!important;width:300px!important;}

#page-wrapper-admin .btnBgClass{-moz-border-bottom-colors:none;-moz-border-image:none;-moz-border-left-colors:none;-moz-border-right-colors:none;-moz-border-top-colors:none;background:none repeat scroll 0 0 #A0C0CC;border-color:#A7C0DC #6F7172 #6F7172 #A7C0DC;border-radius:6px 6px 6px 6px;border-style:solid;border-width:1px;color:#FFFFFF;cursor:pointer;font:11px Arial,Helvetica,sans-serif;margin:10px 0;padding:3px 6px;}

#page-wrapper-admin .btnBgClass:hover{-moz-border-bottom-colors:none;-moz-border-image:none;-moz-border-left-colors:none;-moz-border-right-colors:none;-moz-border-top-colors:none;background:none repeat scroll 0 0 #8194AA;border-color:#A7C0DC #6F7172 #6F7172 #A7C0DC;border-radius:6px 6px 6px 6px;border-style:solid;border-width:1px;color:#FFFFFF;cursor:pointer;font:11px Arial,Helvetica,sans-serif;margin:10px 0;padding:3px 6px;}

#page-wrapper-admin table{border-collapse:collapse!important;margin:0 auto!important;width:100%!important;}

#page-wrapper-admin span.error {color:red!important;background:transparent!important}

#content-wrapper-admin{-moz-border-bottom-colors:none!important;-moz-border-image:none!important;-moz-border-left-colors:none!important;-moz-border-right-colors:none!important;-moz-border-top-colors:none!important;background:none no-repeat scroll 525px 2px #FFFFFF!important;border-color:#CECECE!important;border-style:solid!important;border-width:0 1px!important;float:right!important;padding:10px 0 20px!important;width:1050px!important;color:#000000!important}

#content-wrapper-admin .padding{padding:15px}
.top-bkg-content-admin{background:none repeat scroll 0 0 #FFFFFF!important;float:right!important;height:6px!important;width:1050px!important;border-left:1px solid #CECECE!important;border-right:1px solid #CECECE!important}
.bottom-bkg-content-admin{background:none repeat scroll 0 0 #FFFFFF!important;float:right!important;height:6px!important;margin-bottom:10px!important;width:1050px!important;border-left:1px solid #CECECE;border-right:1px solid #CECECE;}

#submenus-admin{float:left!important;width:180px}

#content-admin{float:left!important;margin-left:40px!important;width:700px}

.manage_users{background-image:url(manage_users.gif);width:20px; height:18px;margin:5px 0 10px 0;}

.manage_teams{background-image:url(manage_teams.gif);width:20px; height:18px;margin:5px 0 10px 0;}

.manage_events{background-image:url(manage_events.gif);width:20px; height:18px;margin:5px 0 10px 0;}

.manage_blogs{background-image:url(manage_blogs.gif);width:14px; height:18px;margin:5px 0 10px 0;}

.manage_rss{background-image:url(manage_rss.gif);width:18px; height:18px;margin:5px 0 10px 0;}

.manage_bookmarks{background-image:url(manage_bookmarks.gif);width:14px; height:18px;margin:5px 0 10px 0;}

.manage_forums{background-image:url(manage_forums.gif);width:18px; height:18px;margin:5px 0 10px 0;}

.manage_videos {background-image:url(manage_videos.gif);width:18px; height:18px;margin:5px 0 10px 0;}	

.manage_channels{background-image:url(manage_channels.gif);width:22px; height:18px;margin:5px 0 10px 0;}

.manage_moderation{background-image:url(manage_content.gif);width:14px; height:18px;margin:5px 0 10px 0;}

.manage_user_activity{background-image:url(manage_user_activity.gif);width:18px; height:18px;margin:5px 0 10px 0;}

.manage_components{background-image:url(manage_components.gif);width:18px; height:18px;margin:5px 0 10px 0;}

.manage_front_end_components{background-image:url(manage_front_end_components.gif);width:16px; height:18px;margin:5px 0 10px 0;}

.seo_icon{background-image:url(manage_seo.gif);width:22px; height:18px;margin:5px 0 10px 0;}

.login_icon{background-image:url(manage_login.gif);width:18px; height:18px;margin:5px 0 10px 0;}

.manage_email_notifications{background-image:url(manage_email_notifications.gif);width:19px; height:18px;margin:5px 0 10px 0;}

.manage_industries{background-image:url(manage_industries.gif);width:18px; height:18px;margin:5px 0 10px 0;}

.manage_billing{background-image:url(manage_billing.gif);width:12px; height:18px;margin:5px 0 10px 0;}

.manage_search{background-image:url(manage_search.gif);width:20px; height:18px;margin:5px 0 10px 0;}

.AdminRightMenu{color:#FFFFFF!important;margin-top:10px!important;text-align:right!important;width:115%!important;}

.bodyIframe{font:12px Arial,Helvetica,sans-serif!important;color:#000000!important}

.bodyIframe div .AdminRightMenu{width:100%!important}

#ctl00_ContentPlaceHolderMain_ManageAdminTask1_AbuseUser_dgrdAbuseUser td table td{background:transparent!important}

#content-admin .content-full tr:nth-child(even){background:#FFF!important}

#content-admin .content-full tr:nth-child(even) td:nth-child(even){background:#EEE}

#content-admin .content-full tr:nth-child(odd) td:nth-child(even){background:#C0D2E6}

#content-admin .content-full tr:nth-child(odd){background:#E2EAF4!important}

#content-admin .content-full tr:first-child td{background:#BBB!important}

#content-admin .content-full tr:last-child td{background:#BBB!important}

#content-admin .content-full table{border:1px solid #BBB!important;width:100%!important}

#content-admin .content-full tr:nth-child(even){background:#FFF!important}

#content-admin #content-full tr:nth-child(even) td:nth-child(even){background:#EEE}

#content-admin #content-full tr:nth-child(odd) td:nth-child(even){background:#C0D2E6}

#content-admin #content-full tr:nth-child(odd){background:#E2EAF4!important}

#content-admin #content-full tr:first-child td{background:#BBB!important}

#content-admin #content-full tr:last-child td{background:#BBB!important}

#content-admin #content-full table{border:1px solid #BBB!important}

#content-admin .container-full table{width:100%!important}

#content-admin .container-full table tr:nth-child(even){background:#FFF!important}

#content-admin .container-full table tr:nth-child(even) td:nth-child(even){background:#EEE}

#content-admin .container-full table tr:nth-child(odd) td:nth-child(even){background:#C0D2E6}

#content-admin .container-full table tr:nth-child(odd){background:#E2EAF4!important}

#content-admin .container-full table tr:first-child td{background:#BBB!important}

#content-admin .container-full table tr:last-child td{background:#BBB!important}

#content-admin .container-full table tr:nth-child(even) td:nth-child(even) table tr:last-child td{background:#EEE!important}

#content-admin .container-full table tr:nth-child(even) td:nth-child(odd) table tr:last-child td{background:#FFF!important}

#content-admin .container-full table tr:nth-child(odd) td:nth-child(even) table tr:last-child td{background:#C0D2E6!important}

#content-admin .container-full table tr:nth-child(odd) td:nth-child(odd) table tr:last-child td{background:#E2EAF4!important}

#ctl00_ContentPlaceHolderMain_ManageAdminTask1_AdminBlog_dlstAdminBlog_ctl00_lbtnAddQuicklink{left:-120px!important;position:relative!important}

#ctl00_ContentPlaceHolderMain_ManageAdminTask1_AdminBlog_dlstAdminBlog_ctl00_addPost{left:-120px!important;position:relative!important}

#ctl00_ContentPlaceHolderMain_ManageAdminTask1_AdminRSS_ifrForum{height:655px !important;width:800px!important;border-left:1px solid #AEC5DF!important;border-right:1px solid #AEC5DF!important;padding:2px!important}

.bodyIframe a{color:#2973B2!important;text-decoration:none!important;font-weight:normal!important}

.bodyIframe a:hover{color:#2973B2!important;text-decoration:underline!important;font-weight:normal!important}

#ctl00_ContentPlaceHolderMain_ManageAdminTask1_AdminAction_dgrdAction tr:nth-child(even){background:#FFF!important}

#ctl00_ContentPlaceHolderMain_ManageAdminTask1_AdminAction_dgrdAction tr:nth-child(even) td:nth-child(even){background:#EEE}

#ctl00_ContentPlaceHolderMain_ManageAdminTask1_AdminAction_dgrdAction tr:nth-child(odd) td:nth-child(even){background:#C0D2E6}

#ctl00_ContentPlaceHolderMain_ManageAdminTask1_AdminAction_dgrdAction tr:nth-child(odd){background:#E2EAF4!important}

#ctl00_ContentPlaceHolderMain_ManageAdminTask1_AdminAction_dgrdAction tr:first-child td{background:#BBB!important}

#ctl00_ContentPlaceHolderMain_ManageAdminTask1_AdminAction_dgrdAction tr:last-child td{background:#BBB!important}

#content-admin h1, h2, h3, h4, h5, h6, p, ul, li, div, form, input, label, img, button, select, textarea, span {color:#000000!important}

#content-admin #content-full #ctl00_ContentPlaceHolderMain_ManageAdminTask1_AbuseUser_dgrdAbuseUser td table{border:0!important}

#content-admin #content-full #ctl00_ContentPlaceHolderMain_ManageAdminTask1_AbuseUser_dgrdAbuseUser td table tr{background:transparent!important}

#content-admin #content-full #ctl00_ContentPlaceHolderMain_ManageAdminTask1_AbuseUser_dgrdAbuseUser td table td{background:transparent!important}

#content-admin .content-full #ContentPlaceHolderMain_dgrdTitle tr:first-child{background:#ccc!important}

#content-admin .content-full #ContentPlaceHolderMain_dgrdTitle tr:last-child td{background:none!important}

#content-admin .content-full #ContentPlaceHolderMain_dgrdTitle tr:last-child td:nth-child(even){background:#eee!important}

.ifrPhoto {width:400px}

#ctl00_ContentPlaceHolderMain_ManageAdminTask1_AdminForum_ifrForum{width:100%;height:1000px}

.TeamImageUpload {

	width: 500px;
	height: 160px;
}

#ctl00_ContentPlaceHolderMain_ManageAdminTask1_AdminFrontEndComponent_FCKDesc___Frame
{
    height:500px!important;
}
#content-lower
{
    margin:15px 0 0 0;
}
#content-lower .div-single-page
{
    background:#BBB!important;
}
#content-lower .save-page
{
    background:#BBB!important;
}