/*  for all pages */
body {
	margin: 0;
	padding: 0;
	font-family: 'OpenSansRegular';
	color: #000;
	font-size: 13px;
	background: url(images/bg.jpg) repeat scroll 0 0;
	padding-bottom: 30px;
}

h1, h2, h3, h4, h5, h6, p, ul, li, div, form, input, label, button, select, textarea, span {
	margin: 0;
	padding: 0;
}
ul {
	list-style: none;
}
.clear {
	clear: both;
	height: 0;
}
a img {
	border: none;
}
/* remove border on linked images */

table {
	border-collapse: collapse;
	margin: 0 auto;
}

@font-face {
	font-family: 'OpenSansRegular';
	src: url('fonts/OpenSans-Regular-webfont.eot');
	src: url('fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/OpenSans-Regular-webfont.woff') format('woff'), url('fonts/OpenSans-Regular-webfont.ttf') format('truetype'), url('fonts/OpenSans-Regular-webfont.svg#OpenSansRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'CaviarDreamsBold';
	src: url('fonts/Caviar_Dreams_Bold-webfont.eot');
	src: url('fonts/Caviar_Dreams_Bold-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/Caviar_Dreams_Bold-webfont.woff') format('woff'), url('fonts/Caviar_Dreams_Bold-webfont.ttf') format('truetype'), url('fonts/Caviar_Dreams_Bold-webfont.svg#CaviarDreamsBold') format('svg');
	font-weight: normal;
	font-style: normal;
}

#page-wrapper {
	width: 1000px;
	margin: 0 auto;
	position: relative;
}
/* wraps all the content */

#header {
	clear: both;
	height: 109px;
}
/* wraps the logo and upper navigation - Blogs,  etc. */
.nav-box-in-header {
	float: right;
	background: #000;
	padding: 65px 10px 10px;
	border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	-webkit-border-radius: 0 0 5px 5px;
	-moz-box-shadow: 0 0 2px 2px #bbb;
	-webkit-box-shadow: 0 0 2px 2px #bbb;
	box-shadow: 0 0 2px 2px #bbb;
}
.logo-box {
	float: left;
	position: absolute;
	top: 25px;
}
#logotitle{
	display: block;
	width: 214px;
	height: 55px;
}
#logotitle img {
	width: 214px;
	height: 55px;
}
ul#nav {
	list-style: none;
	float: left;
	font-family: 'OpenSansRegular';
}
ul#nav li {
	float: left;
	margin-left: 25px;
	text-transform: uppercase;
}
ul#nav li a {
	display: block;
	color: #fff;
	text-decoration: none;
	font-size: 16px;
	-webkit-transition: all .4s ease;
	-moz-transition: all .4s ease;
	padding-bottom: 10px;
	border-bottom: 2px solid #000;
}
ul#nav li a:hover {
	color: #ed1c24;
	border-bottom: 2px solid #fff;
}

#aside {
	position: absolute;
	top: 129px;
	width: 212px;
	right: 0;
}
/* left menu - Profile,  Network and Events */

/* this class applies to all the boxes of the aside area */
.box {
	margin-bottom: 0px;
	padding-bottom: 0px;
	color: #000;
	background: url(images/bg.png) repeat scroll 0 0;
	background-color: rgba(0, 0, 0, .2);
	-webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, .2);
	-moz-box-shadow: 0 0 15px 0 rgba(0,0,0,.2);
	box-shadow: 0 0 15px 0 rgba(0, 0, 0, .2);
}
.box a {
	color: #000;
	font-weight: bold;
	font-size: 11px;
}
.box a:hover {
	color: #000;
	text-decoration: none;
}
/* for IE to add margin to the calendar table */
#adspace {
	overflow: hidden;
}
/* the content area */
#content-wrapper {
	background: url(images/bg.png) repeat scroll 0 0;
	color: #000;
	float: left;
	margin-bottom: 10px;
	margin-top: 20px;
	padding: 10px;
	width: 745px;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
}
#content-wrapper .padding {
	padding: 10px 10px 15px 10px;
}
#content {
	float: right;
	margin: 0 0 30px 10px;
	position: relative;
	top: 30px;
	width: 545px;
}
#content-full {
	width: 100%;
	float: right;
}
/* used instead of the previous when there is no sub navigation */

/* =Login Pages ----------------------------------------------------------
 ------------------------------------------------------------------------*/
/* For Login ,  forget password pages. */
/*Edited Prithiraj 25-09-2008 For login*/
#content-wrapper-holder {
	width: 765px;
	margin: auto;
	margin-top: 100px;
}
/* wraps all the content */
#content-wrapper-logon {
	width: 765px;
	height: 450px;
	margin: 0 auto;
}
#content-wrapper-logon .textbox {
	width: 180px;
}
#content-wrapper-logon .imageLogo {
	float: right;
	padding-right: 5px;
	margin-bottom: 50px;
}
#content-wrapper-logon .details {
	padding-top: 110px;
	padding-left: 250px;
}
#content-wrapper-logon .details-entry {
	background-color: purple;
	width: 210px;
	border: solid 2px blue;
	float: left;
	margin-left: 5px;
	padding-right: 5px;
	padding-top: 3px;
	padding-left: 3px;
}
#content-wrapper-logon .details-email {
	width: 250px;
	border: solid 2px blue;
	float: left;
	margin: auto;
	margin-left: 5px;
	text-align: center;
	padding-top: 10px;
	padding-left: 5px;
	padding-bottom: 5px;
	padding-right: 5px;
}
/* =Header ---------------------------------------------------------------
 ------------------------------------------------------------------------*/
/* h1 text replaced by image for logo */
h1 {
	width: 250px;
	text-indent: -10000px;
	margin: 6px 0 0 17px;
}
h1 a {
	height: 56px;
	display: block;
}
/* =Nav -----------------------------------------------------------------
 ------------------------------------------------------------------------*/
/* main nav - Blogs,  etc. */

/* align top nav to middle */
ul#nav.middle {
	float: none;
	display: block;
	margin: auto;
	width: 597px;
	overflow: hidden;
}
/* =Content --------------------------------------------------------------
 ------------------------------------------------------------------------*/
a {
	text-decoration: none;
	color: #bb141a;
}
/* all links are black with no underline,  by default */
a:hover {
	text-decoration: none;
	color: #000;
}
/* all hovers are black,  underlined,  by default */

#aside .img {
    margin: 8px 0 5px 0px;
    width: 15px;
    padding: 0;
    float: left;
    height: 15px;
}

#aside .MostPopularNum{
    font-size:25px;
    font-weight:bolder;
    color:#6e6e6e;
}
/* profile avatar */

/* for warning messages like "Profile updated",  etc. */
span.messages {
	background: #000fff;
	color: #3b2d30;
}
span.error {
	color: #3b2d30;
}
span.welcome {
	float: left;
}
span.logout {
	float: right;
	margin-right: 10px;
}
table input, table textarea {
	border: 1px dotted #910f15;
	padding: 5px;
	margin-bottom: 10px;
}
table input#ctl00_ContentPlaceHolderMain_btnSend {
	background: #910f15;
	color: #fff;
	text-transform: uppercase;
	float: right;
	cursor: pointer;
}
/* =Blogs ---------------------------------------------------------------
 ------------------------------------------------------------------------*/
/* to add separation (margins and borders) to blog posts,  and allow to style some elements differently from the rest (for example h4) */
/* also used to separate events */
div.blogpost {
	margin-bottom: 13px;
	padding-bottom: 7px;
	border-bottom: 1px solid #ccc;
}
div.blogpost h4 {
	font-weight: bold;
	font-size: 14px;
	color: #666;
}
/* div.content is around the actual content of the blog posts,  so the p tags are a bit larger than the rest */
div.postcontent p {
	font-size: 12px;
}
/* =Type -----------------------------------------------------------------
 ------------------------------------------------------------------------*/
/* headers inside the aside boxes (Profile,  Network,  Events) */
#aside h2 {
	color: #fff;
	font-size: 18px;
	padding: 10px;
	font-family: 'CaviarDreamsBold';
	text-transform: uppercase;
	background: #555555;
}
/* each h2 header has a different backgroun - rounded corners and icon in one image */
/* aside paragraphs. since the box itself has no padding,  the content within it has to have margins/paddings */
#aside p {
	margin: 0 0 5px 10px;
}
/* main content paragraphs */
#content p, #content-full p {
	margin-bottom: 10px;
	clear: both;
}
/* h3 headers with background on the top */
h3.h-bookmarks, h3.h-rss, h3.h-blog {
	font-weight: bold;
	text-transform: uppercase;
	color: #fff;
	font-size: 18px;
	left: -10px;
	margin-bottom: 5px;
	padding: 8px 3px 8px 10px;
	position: relative;
	text-align: center!important;
	top: -10px;
	width: 730px;
	font-family: 'CaviarDreamsBold';
	border: 1px dashed #ccc;
	background:#555555;
}
/* replace the width for h3 headers inside the content-full divs (when the page has no subnavigation div */
#content-full h3 {
	background-position: left 9px;
	padding: 20px 0px 10px 0px;
	text-align: left;
	border-top: 1px solid #999;
	width: auto;
}
#content h4 {
	font-size: 13px;
	font-weight: bold;
	margin-bottom: 10px;
}
/* form.simple-form input,  */
div.simple-form textarea, div.simple-form select {
	margin-bottom: 0px;
	clear: both;
	display: block;
	width: 153px;
}
/* checkboxes and radio buttons,  and their labels,  have to float left so the labels are next to them and not in the next line */
div.simple-form input.checkbox, div.simple-form label.checkbox {
	float: left;
}
div.simple-form input.checkbox {
	clear: none;
	margin-right: 3px;
	width: auto;
}
/* labels for checkboxes and radio buttons */
div.simple-form label.checkbox {
	clear: right;
	margin-bottom: 14px;
}
div.simple-form br {
	display: block;
	clear: both;
	height: 1px;
}
.btnBgClass {
	font: 11px Arial, Helvetica, sans-serif;
	cursor: pointer;
	color: #000;
	background: url(images/main-bg.gif) no-repeat;
	border: 1px solid #ed8e11;
	padding: 3px 6px;
	margin: 10px 0 10px 30px;
	border-bottom-color: #f29b16;
	border-right-color: #f29b16;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}
.btnBgClass:hover {
	background: url(images/main-bg.gif) 0px -100px no-repeat;
	text-decoration: none;
	color: #000;
}
a.btnBgClass {
	clear: both;
	margin-top: 0;
}
/* Class for table throughout the application*/
.table-full {
	width: 100%;
}
/* fck Editor throughout the application */
#fckeditor {
	width: 90%;
	height: 200px;
}
.AdminRightMenu {
	text-align: left;
	width: 1000px;
	color: #000;
	clear: both;
}
.AdminRightMenu a {
	color: #000;
}
.AdminRightMenu a:hover {
	color: #444;
	text-decoration: none;
}
.AdminRightMenu a img {
	vertical-align: top;
}
.AdminRightMenu p {
	line-height: 30px;
}
/*Class for paging link applied on DIV*/
.dvPaging {
	font-size: 15px;
	margin: 5px 0;
}
.dvPaging a {
	padding: 0 3px;
}
/* Ads 11.12.2008 IVLeon */
div#ads-wrapper {
	width: 1120px;
	margin: auto;
}
div#page-wrapper {
	float: left;
}
div.ads {
	text-align: center;
}
div.ads.top_ad_box a {
	color: #000;
	text-decoration: none;
}
div.ads.top_ad_box a:hover {
	color: #000;
	text-decoration: underline;
}
div.ads.top_ad_box {
	float: left;
	font-size: smaller;
	width: 754px;
	border: 6px solid #807778;
	margin: 20px 0 0 0;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
}
div.ads.left_ad_box {

	width: 160px;
	margin: 10px auto;
	clear: both;
	display: block;
}
div.ads.right_ad_box {
	width: 1px;
	height: 1px;
	margin: 5px 0px 0px 5px;
	float: left;
}
div.ads.bottom_ad_box {
	width: 755px;
	margin: 10px auto;
	clear: both;
	display: block;
	padding:5px;
}
/* new ad/widget blocks */
.addthis_toolbox {
	line-height: 16px;
}
.shareContainer {
	padding: 10px;
}
.box table {
	margin: 0 0 0 0;
	background: none;
}
.surfLinksBox table td a u {
	text-decoration: none;
}
.surfLinksBox table td {
	padding: 0 0 0 10px;
}
#surfNewsBox table td {
	padding: 0 0 0 10px;
}
.topheader_ad_box {
	float: left;
	position: relative;
	margin-top: 20px;
}
.topheader_ad_box>div[id*='taboola'] {
	background-color: #FFF;
}
.st_blogpost_container {
	border: 1px solid #8a1719;
	padding: 10px;
	text-align: justify !important;
	font-family: Arial, Helvetica, sans-serif !important;
	font-size: 13px !important;
	margin-top: 10px;
}
table {
	border-collapse: collapse;
	margin: 0 auto;
}
.st_blogpost_container span[style] {

	font-family: Arial, Helvetica, sans-serif !important;
	font-size: 13px !important;
}
.SummaryByClass{color:gray;font-size:12px;}
.liPagingFeeds{border-left: 1px solid black;padding:0 5px 0 5px;display:inline-block;font-weight:bold;font-size:11pt;margin:0 0 10px 0}
.liPagingFeeds:nth-of-type(1){border-left: 0px;}
.liPagingFeeds a{white-space:nowrap;cursor:pointer;}
.liPagingFeeds a.feedpaging-disabled{cursor:default;color:Red;text-decoration:none;}
#top_ad_box #banner{display:none!important;}

.footer-col{
	border-left: solid 1px;
    text-align: left; 
    padding-left: 60px;
}

.footer-sep
{
	height:0;
	width:0;
}

#aside tr{
	border-bottom: 1pt solid #dfdfdf;
}
#aside td{
	vertical-align:middle;
}
#aside tr:hover {
  background-color: #efefef;
}
.surfNewsContainer,.surfLinksContainer{
	width:100%;
}
#widget_Grid_none p
{
    display:none!important;
}

.lblBlogPostsTitle{
    font-weight: bold;
    font-family: 'CaviarDreamsBold';
    font-size: 18px;
}

.tableBookmark{
   width:100%;
}

.tableBookmark div.seperate{
   width: 105.9%;
   margin: 0px 0px 0 -21px;
   height:1px;
   background-color:gray;
   border:0;
}

.tableBookmark b{
    font-size:18px;
}

.subscribebox{
    padding:5px;
}

#divSubscribeForm{
    margin:10px 0 0px 0;
}
.btnSuscribe{
    background-color:#5e6483;
    color:white;
    padding:7px 5px 7px 5px;
    border:0px;
    border-radius:2px;
    margin:10px 0 0px 0;
}

.txtSubscribe{
    width:90%;
    height:20px;
}

#divsurf_Search{
    padding-top: 5px;
    border-top: 1px solid #dfdfdf;
    border-bottom: 1px solid #dfdfdf;
    background-color:#ffffff;
}

.txtSearch{
    width:172px;
    height:30px;
    float:left;
    margin-left:3px;
    outline: none;
    border:1px solid #a3a3a3;
}
input.txtSearch::-webkit-input-placeholder {
color: #a3a3a3 !important;
font-size:17px;
}
 
input.txtSearch:-moz-placeholder { /* Firefox 18- */
color: #a3a3a3 !important;  
font-size:17px;
}
 
input.txtSearch::-moz-placeholder {  /* Firefox 19+ */
color: #a3a3a3 !important;  
font-size:17px;
}
 
input.txtSearch:-ms-input-placeholder {  
color: green !important;  
font-size:17px;
}
.btnSearch
{
    width:31px;
    height:30px;
    float:left;
    border:1px solid #a3a3a3;
    border-left:0px;
    outline: none;
}
.dvSearch{
    width:100%;
    height:35px;
}
#rfvSearch{
    padding-left:5px;
}

.searchtitle,.searchimg,.searchdesc{
    margin: 5px 0 5px 0;
}

.searchimg img{
    width:100%;
}

#ContentPlaceHolderMain_SearchResult tr:nth-child(2n+1){
    border-bottom: 1px solid #a3a3a3;
}

.LogInRegister
{
    padding-left:2%;
}
.LogInRegister .txtLoginRegister
{
    display:block;
    width:95%;
    height:20px;
}

.LogInRegister label,.LogInRegister a
{
    font-weight:bold;
    font-size:13px;
    display:block;
    margin-top:10px;
}

.LogInRegister label[for$="chkRememberMe"]
{
    margin-left:5px;
    vertical-align:top;
    display:inline;
}
.LogInRegister input[id$="chkRememberMe"]
{
    margin-top:5px;
    clear:left;
}
.SignOut
{
    float:right;
}
#user a{
    display:inline;
    margin:0!important;
    font-weight:normal;
    font-size:13px;
    text-decoration:underline;
}
#user{
   margin-top:15px;
}
.userName
{
    text-align:center;
    font-weight:bold;
}
.UserSettings
{
    width:90%;
    padding:10px 5% 10px 5%;
}
.UserSettings td{
    padding-bottom:15px;
}
.UserSettings label{
    font-weight:normal;
    font-size:14px
}
.UserSettings span {
    font-weight: bold;
    font-size: 15px;
    display:inline-block;
}

.UserSettings a{
    margin-left:20px;
    text-decoration:underline;
}

.UserSettings .txtLoginRegister
{
    display:block;
    width:400px;
    height:20px;
}
.usersettingbuttons div {
    display:inline-block;
}
.usersettingbuttons input[type="button"],.usersettingbuttons input[type="submit"]
{
    float:right;
    margin:0px;
    margin-left:10px;
}