/* IE7 doesn't correctly align the labels next to the checkboxes and radio buttons, so the top margin property has to be different, in about +2 pixels */
div.simple-form label.checkbox { margin-top:2px; }
button { width:auto; overflow:visible; }
button span { margin-top:2px; } /* to correctly align the backgroun in IE7 */