﻿ #BUsinessName {
            margin: 0px;
        }

        .bgBlack {
            background-color: #8ed658;
            color: #ffffff;
            text-align: center;
        }

        .slick-prev:before, .slick-next:before
        {
            color:#8ed658!important;
        }

        .bgwhite {
            background-color: white;
        }

        .f-r {
            float: right;
        }

        .bgBlack h2 {
            margin: 0;
            padding: 10px 0 10px 0;
            font-weight: normal;
            font-size: 25px;
        }

        body {
            margin: 0;
            padding: 0;
            width: 100%;
            font-family: arial!important;
            /*background-color: #e6e2e4;*/
            background-color: white;
        }

        .containereasyspa {
            width: 100%;
        }

        .s-c {
            width: 97%;
            padding: 1.5%;
        }
       .h-s {
            width:1px;
            min-width: 92%!important;
            padding: 10px 2% 2px 4%;
        }

        .d-c {
            width: 97%;
            padding:8px 1.5% 2px 1.5%;
        }

        .b-c {
            width: 97%;
            padding: 1.5%;
            padding-top: 10px;
            padding-bottom: 0px;
        }

        #mapspa {
            width: 100%;
            height: 400px;
            border: 0px double gray;
        }

        #spadetail {
            width: 100%;
            display: none;
        }

        .imgtickcross {
            height: 20px;
            width: 20px;
        }

        .m-b-s {
            margin-bottom: 10px;
        }

        .show {
            font-size: 14px;
            text-decoration: underline;
            cursor: pointer;
            color: blue;
        }

        .opening {
            border-collapse: collapse;
        }

            .opening th, .opening td {
                padding: 5px;
                border: 1px solid #e6e2e4;
                padding:5px;
            }

        .divprofimages {
            display: inline-block;
            width: 240px;
            height: 250px;
            margin-right: 5px;
            margin-bottom: 5px;
            vertical-align: middle;
        }

        .profimages {
            width: 100%;
            height: 100%;
            vertical-align: middle;
        }

        .dib {
            display: inline-block;
        }

        .divservices {
            display: inline-block;
            width: 250px;
            vertical-align: middle;
            font-size: 14px;
            color: #717171;
            margin-right: 5px;
            border:1px solid #e6e2e4;
        }

        .serviceimages {
            width: auto;
            height: 145px;
            margin: 0 auto;
        }

        .serviceimg {
            width: 248px;
            height: 150px;
            margin: 0px 2px 0px 2px;
            padding-top: 5px;
        }

        .servicename {
            color: #8ed658;
            font-size: 18px;
            font-weight: bold;
            margin: 2px 5px 2px 5px;
            padding-top: 4px;
        }

        .servicedesc {
            margin: 2px 5px 2px 5px;
            border-top: 1px solid #e6e2e4;
            border-bottom: 1px solid #e6e2e4;
            padding-top: 4px;
        }

        .serviceduration {
            margin: 0px 5px 2px 5px;
            border-bottom: 1px solid #e6e2e4;
            padding-top: 4px;
        }

        .servicecost {
            margin: 0px 5px 0px 5px;
            padding-top: 4px;
        }

        .table-info {
            width: 100%;
            border-collapse: collapse;
            min-height:276px;
        }

            .table-info td {
                min-width: 10%;
                padding: 5px;
                padding-left: 15px;
                border: 1px solid #e6e2e4;
            }

        #divInformation {
            min-width: 79%;
            min-height:276px;
            margin-right:15px;
        }

        #divopening table
        {
            min-height:276px;
        }

        .center {
            text-align: center;
        }
        #divdesc{
            min-height: 65px;
            max-width:800px;
        }