﻿#contentElement,.videoContainer {
    float:left;
}

#playlist_container {
    float:left;
    width: 180px;
    height: 445px;
    overflow: auto;
    padding-left: 1px;
    padding-top: 1px;
    padding-bottom: 1px;
    background-color: #000000;
    text-align:left;
}

.vids {
    border-bottom: 1px solid #555;
    float: left;
    margin: 0;
    padding: 5px;
    width: 160px;
    color: #ffffff;
}

.vids:hover {
    background: #ffffff;
    color: #000000;
}

.title {
    font-weight: bold;
    text-decoration:underline;
}

.src {
    font-weight: normal;
    font-size:13px;
}

.jspContainer {
    overflow: hidden;
    position: relative;
}

.jspPane {
    position: absolute;
    width: 160px;
}

.jspVerticalBar {
    background: none repeat scroll 0 0 #222222;
    height: 445px;
    position: absolute;
    right: 0;
    top: 0;
    width: 16px;
}

.jspCap {
    display: none;
}

.jspTrack {
    background-image: url("Images_Common/scroll-m.png");
    height: 100% !important;
    position: relative;
}

.jspDrag {
    background: none repeat scroll 0 0 #FFFFFF;
    cursor: pointer;
    left: 6px;
    max-height: 85px;
    position: relative;
    width: 5px;
}

#imageblockVideoWidget{
    display : none; 
    z-index: 9999; 
    float: right; 
    position: absolute; 
    left: 0; 
    top: 0; 
    width: 100%; 
    height: 100%; 
    cursor: pointer;
}

#widget_Grid_none p{
    display:none!important;
}

video::-internal-media-controls-download-button {
    display:none;
}

video::-internal-media-controls-pause-button {
    background-color:red;
}

video::-webkit-media-controls-enclosure {
    overflow:hidden;
}

video::-webkit-media-controls-panel {
    width: calc(100% + 30px); /* Adjust as needed */
    background-color: #000000;
    color: #ffffff;
}

video::-webkit-media-controls-current-time-display,video::-webkit-media-controls-time-remaining-display
{
    color: #ffffff;
}

.notice_div{
    position:absolute;
    top:0;
    left:0;
    background-color:white;
    opacity:0.6;
}