﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="ImageAltUpdate.aspx.cs" Inherits="ImageAltUpdate" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <%--<div>
            <asp:DataGrid ID="dgrddata" runat="server" ShowHeader="false" GridLines="Both" AutoGenerateColumns="false">
                <Columns>
                    <asp:BoundColumn DataField="Ronum"></asp:BoundColumn>
                    <asp:BoundColumn DataField="post_id"></asp:BoundColumn>
                    <asp:BoundColumn DataField="post_description"></asp:BoundColumn>
                    <asp:BoundColumn DataField="DbName"></asp:BoundColumn>
                </Columns>
            </asp:DataGrid>
            <input type="button" value="Make Query" onclick="ProcessDescription()" />
            <asp:Button ID="btnQuery" Text="Refine Query" runat="server" OnClick="btnQuery_Click" />
            <asp:HiddenField ID="hdnquery" runat="server" />
        </div>--%>
    </form>
    <%--<script>
        function ProcessDescription() {
            var grid = document.getElementById("dgrddata");
            var rows = grid.getElementsByTagName("tr");
            var query = "";
            for (var j = 0; j < rows.length; j++) {
                var row = rows[j];
                var columns = row.getElementsByTagName("td");
                var postid = columns[1].innerHTML;
                var postsesc = columns[2].innerHTML;
                var dbname = columns[3].innerHTML;
                var div = document.createElement("div");
                div.innerHTML = postsesc;
                var images = div.getElementsByTagName("img");
                for (var i = 0; i < images.length; i++) {
                    var imagealt = images[i].alt;
                    if (imagealt == "") {
                        var imagesrc = images[i].src;
                        var filename = imagesrc.split('/').pop().split('#')[0].split('?')[0];
                        imagealt = filename.substring(0, filename.lastIndexOf(".")).split("-").join(" ").split("_").join(" ");
                        images[i].alt = imagealt;
                    }
                }
                postsesc = div.innerHTML;
                var strquery = "update [" + dbname + "].[dbo].BRAND_BLOG_POSTS set post_description='" + postsesc + "' where post_id=" + postid + "^";
                query += strquery;
            }
            document.getElementById("hdnquery").value = query;
        }
    </script>--%>
</body>
</html>
