<%@ Page Language="C#" MasterPageFile="~/brandtemplates/DigiPublishing.master" AutoEventWireup="true" CodeFile="PrivacyPolicy.aspx.cs" Inherits="PrivacyPolicy" Title="Untitled Page" %>
<asp:Content ID="privacyContent" ContentPlaceHolderID="ContentPlaceHolderMain" Runat="Server">
    <%=privacyFileContents %>
</asp:Content>