﻿.body
{
   font-family: Verdana,sans-serif;
   font-size: 11px;
   color: #000000;
  background-image: url('../../images/bgtile.gif');
}

td
{
   font-family: Verdana,sans-serif;
   font-size: 11px;
   color: #000000;
   border-left: none;
}

th
{
   font-family: Arial,sans-serif;
   font-size: 12px;
   font-weight: bold;
   color: #000000;
   background-color: #C6E0F0;
   border-left: none;
   border-right: 1px solid #808080;
   border-top: 1px solid #FFFFFF;
   border-bottom: 1px solid #808080;
}

td.inside
{
   background-color: #E6EBEC;
   border: none;
}


td.category
{
   background-color: #CCD5D7;
   border-right: none;
}


td.toprow
{
   background-color: #CCD5D7;
   padding: 0px;
   border-top: none;
   border-left: none;
   border-right: none;
}


td.topicrow1
{
   border-top: 2px solid #CCD5D7;
   border-bottom: none;
}


td.topicrow2
{
   border-top: 2px solid #CCD5D7;
   border-bottom: none;
}


td.topicrow3
{
   border-top: 2px solid #CCD5D7;
   border-bottom: none;
}


td.topicrow4
{
   border-top: 2px solid #CCD5D7;
   border-bottom: none;
}


td.posttoprow
{
   background-color: #CCD5D7;
   padding: 0px;
   border-top: 1px solid #FFFFFF;
   border-left: none;
   border-right: none;
}


td.postrow1
{
   padding: 8px;
}


td.postrow2
{
   padding: 8px;
   background-color: #DDE5E7;
}


td.poll
{
   background-color: #DDE5E7;
   border: none;
}


td.buttonrow
{
   background-color: #CCD5D7;
   padding: 0px;
   border: none;
}


td.selectedrow
{
   background-color: #C0D8F0;
}


td.userinfo
{
   font-size: 10px;
   border: none;
}


td.clean
{
   border: none;
}

.menuitem
{
   font-size: 10px;
   width: 180px;
   height: 16px;
   padding: 2px;
   display: block;
}

.footer
{
   font-size: 10px;  
   padding: 2px;
   display: block;
   border-top:1px solid #C0C0C0;
}
.menuitemdisabled
{
   font-size: 10px;
   width: 180px;
   height: 16px;
   padding: 2px;
   display: block;
}


.menuseparator
{
   font-size: 1px;
   width: 180px;
   height: 1px;
}


.currentlocation
{
   font-family: Verdana,sans-serif;
   font-size: 12px;
}


.statusmessage
{
   font-family: Verdana,sans-serif;
   font-size: 12px;
   font-weight: bold;
   text-align: center;
   color: #800000;
}


.statusline
{
   font-family: Verdana,sans-serif;
   font-size: 10px;
   text-align: center;
   color: #707070;
}


.titlebar
{
   font-family: Arial,sans-serif;
   font-size: 12px;
   font-weight: bold;
   /*text-align: center;*/
}


.toolbarbutton
{
   background-image: url(toolbar_bg.gif);
   width: 23px;
   height: 23px;
   border: none;
}


.toolbarseparator
{
   background-image: url(toolbar_bg.gif);
   width: 6px;
   height: 23px;
   border: none;
}


.texteditorenhanced
{
   background-color: #FFFFFF;
   height: 250px;
   width: 576px;
   border: 1px inset #A0A0A0;
   overflow: scroll;
}


.textbox
{
   border: 1px inset #808080;
}


.emoticontable
{
   background-color: #F0F0F0;
   border: 1px solid #808080;
}


.pmtoolbar
{
   text-align: right;
   background-color: #CCD5D7;
   width: 100%;
}


a
{
   text-decoration: none;
}


a:link
{
   font-weight: bold;
   color: #37773a;
}


a:visited
{
   font-weight: bold;
   color: #37773a;
}


a:hover
{
   text-decoration: underline;
}


a.nummessages:link
{
}


a.nummessages:visited
{
}


a.currentlocation:link
{
}


a.currentlocation:visited
{
}


a.category:link
{
   font-family: Arial,sans-serif;
   font-size: 14px;
}


a.category:visited
{
   font-family: Arial,sans-serif;
   font-size: 14px;
}


a.forum:link
{
   font-family: Verdana,sans-serif;
   font-size: 12px;
}


a.forum:visited
{
   font-family: Verdana,sans-serif;
   font-size: 12px;
}


a.navbutton:link
{
   font-family: Tahoma,sans-serif;
   font-size: 11px;
   color: #004080;
}


a.navbutton:visited
{
   font-family: Tahoma,sans-serif;
   font-size: 11px;
   color: #004080;
}


a.userlocation:link
{
   font-size: 10px;
}


a.userlocation:visited
{
   font-size: 10px;
}


a.username:link
{
   color: #006600;
}

a.username:visited
{
   color: #006600;
}


a.userselected:link
{
   background-color: #000080;
   color: #FFFFFF;
}


a.userselected:visited
{
   background-color: #000080;
   color: #FFFFFF;
}


a.userselected:hover
{
   text-decoration: none;
}


a.typo:visited
{
   color: #800000;
}


a.foldernormal
{
   font-family: Verdana,sans-serif;
   font-size: 11px;
}


a.folderselected:link
{
   background-color: #000080;
   color: #FFFFFF;
}


a.folderselected:visited
{
   background-color: #000080;
   color: #FFFFFF;
}


a.folderselected:hover
{
   text-decoration: none;
}


a.menuitem:hover
{
   text-decoration: none;
   background-color: #000080;
   color: #FFFFFF;
}


a.menuitemdisabled
{
   color: #808080;
}


a.menuitemdisabled:visited
{
   color: #808080;
}


a.menuitemdisabled:hover
{
   text-decoration: none;
   background-color: #000080;
   color: #808080;
}


td.code
{
   font-family: 'Courier New',monospace;
   color: #006600;
   background-color: #F8F8F8;
   border: 1px solid #C0C0C0;
   padding: 8px;
}

q
{
   display: block;
   background-color: #F8F8F8;
   border: 1px solid #C0C0C0;
   padding: 8px;
   padding-left: 16px;
}

.texteditorenhanced
{
   font-size: 12px;
   background-color: #FFFFFF;
   height: 300px;
   width: 576px;
   padding: 8px;
   border: 1px inset #A0A0A0;
   overflow: scroll;
}

.publiceventtime
{
   font-size: 10px;
   background-color: #84BCE6;
   padding: 2px;
}


.publicevent
{
   padding: 2px;
   background-color: #97C7EA;
}


.privateeventtime
{
   font-size: 10px;
   background-color: #9AEB78;
   padding: 2px;
}


.privateevent
{
   padding: 2px;
   background-color: #ADEF92;
}

.publiceventtime
{
   font-size: 10px;
   background-color: #84BCE6;
   padding: 2px;
}


.publicevent
{
   padding: 2px;
   background-color: #97C7EA;
}


.privateeventtime
{
   font-size: 10px;
   background-color: #9AEB78;
   padding: 2px;
}


.privateevent
{
   padding: 2px;
   background-color: #ADEF92;
}

.publiceventtime
{
   font-size: 10px;
   background-color: #84BCE6;
   padding: 2px;
}


.publicevent
{
   padding: 2px;
   background-color: #97C7EA;
}


.privateeventtime
{
   font-size: 10px;
   background-color: #9AEB78;
   padding: 2px;
}


.privateevent
{
   padding: 2px;
   background-color: #ADEF92;
}

.fieldname
{
   width: 40%;
   vertical-align: top;
}

.fieldname
{
   width: 40%;
   vertical-align: top;
}

.fieldname
{
   width: 40%;
   vertical-align: top;
}
.textc
{
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #37773a;
	text-decoration: none;
	text-align:left;
	vertical-align:top;
}

.button{
   color:#050;
   font-family:'trebuchet ms',helvetica,sans-serif;
   font-size:10px;
   font-weight:bold;
   background-color:#fed;
   border:1px solid;
   border-top-color:#696;
   border-left-color:#696;
   border-right-color:#363;
   border-bottom-color:#363;
   }

 /*related to grid */
 
 .dgrdaltcell
{
	background-color: White;
	font-size: 11px;
}
.dgrdcell
{
	background-color: #F5F5F5;
	font-size: 11px;
}


.dgrdheader
{
	font-size: 11px;
	font-weight: bold;
	font-family: Tahoma, Verdana, "MS Sans Serif", "MS Serif";
	height: 25px;
	text-decoration: none;
	 background-image:url(../../images_common/titlebar_caption_middle.gif);
	background-position: left;
	background-repeat: repeat-x;
}

.dgrdfooter
{
	font-size: 11px;
	font-weight: bold;
	font-family: Tahoma, Verdana, "MS Sans Serif", "MS Serif";
	height: 25px;
	text-decoration: none;
	 background-image:url(../../images_common/titlebar_caption_middle.gif);
	background-position: left;
	background-repeat: repeat-x;
	
}

.pagerstyle
{
	background-color:#878787;
}
.pageheading
{
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
	height:25px;
	vertical-align:middle;
}
 /*-------*/