body { background:Purple; margin:0; padding:0; font:11px Arial, Helvetica, sans-serif; color:#000; }
h1, h2, h3, h4, h5, h6, p, ul, li, div, form, input, label, img, button, select, textarea, span { margin:0; padding:0; }
ul { list-style:none; }
.clear { clear:both; height:0; }
a img { border:none; } /* remove border on linked images */
table { border-collapse:collapse; }
#page-wrapper { width:988px; margin:auto; position:relative; } /* wraps all the content */
#header {position:relative;overflow:hidden;clear:both;background-color: #666;padding-top: 0px;background-repeat:no-repeat;height:110px;} /* wraps the logo and upper navigation - Blogs, Wiki, etc. */
.nav-box-in-header {float: right;width: 750px;margin-top: 35px;}
.logo-box {float: left;width: 220px;height: 70px;margin-top: 5px;}
#aside { width:212px; float:left;top:130px;position: absolute} /* left menu - Profile, Network and Events */
/* this class applies to all the boxes of the aside area */
.box { margin:0px 0; padding-bottom:0px; } 
/* the content area */
#content-wrapper { width:765px; float:right; background:#fff; padding-bottom:15px; margin-bottom:10px;margin-top: 20px;}
#content-wrapper .padding { padding:15px; }
#content { width:545px; float:right; }
#content-full { width:100%;float:right;  } /* used instead of the previous when there is no sub navigation */
/* =Admin Pages*/
/* For admin Full screen view */
#page-wrapper-admin{ width:988px; margin:auto; position:relative; }  /* wraps all the content */
#content-wrapper-admin {width:988px; float:right; border:1px solid #cecece; border-width:0 1px; background:#fff no-repeat 525px 2px; padding:10px 0 20px 0; }
#content-wrapper-admin .padding { padding:15px; }
#submenus-admin { width:180px; float:left; }
#content-admin {width:700px;float:left;margin-left: 40px;}
/* =Login Pages*/
/* For Login , forget password pages. */
#content-wrapper-holder{ width:765px; margin:auto; margin-top:100px;} /* wraps all the content */
#content-wrapper-logon {width:765px;height:450px; margin:0 auto;}
#content-wrapper-logon .textbox {width:180px;}
#content-wrapper-logon .imageLogo{float:right; padding-right:5px;margin-bottom:50px;}
#content-wrapper-logon .details{padding-top:110px; padding-left:250px;}
#content-wrapper-logon .details-entry{width:210px;float:left; margin-left:5px; padding-right:5px; padding-top:3px; padding-left:3px;}
#content-wrapper-logon .details-entry {width: 210px;font-size:13px;float: left;margin-left: 5px;padding-right: 5px;padding-top: 3px;padding-left: 3px;color:#FFFFFF;}
#content-wrapper-logon .details-entry input[type=text],#content-wrapper-logon .details-entry input[type=password] {width: 98%;height:22px;margin: 0px 0px 10px 0px;}
#content-wrapper-logon .details-entry a {color:#FFFFFF;}
#content-wrapper-logon .details-entry .btnBgClassSA {font: 13px Arial, Helvetica, sans-serif;cursor: pointer;color: #000000;border: 1px solid #000000;padding: 5px 10px;margin: 0px 0 10px 0px;border-radius: 4px;-moz-border-radius: 4px;-webkit-border-radius: 4px;}
#content-wrapper-logon .details-email{width:250px; border:solid 2px blue; float:left; margin:auto; margin-left:5px; text-align:center; padding-top:10px; padding-left:5px; padding-bottom:5px; padding-right:5px;}
/* =Header*/
/* h1 text replaced by image for logo */
h1 { width:250px; text-indent:-10000px; margin:6px 0 0 17px; }
h1 a { height:56px;display:block; }
/* =Nav*/
/* main nav - Blogs, Wiki, etc. */
ul#nav {list-style:none;float:right;margin-right:0px;}
ul#nav li {float:right;margin-right:0px;margin-bottom: 0px;}
ul#nav li a {display:block;color:#fff;text-decoration:none;font-weight:bold;font-size:12px;padding-top: 22px;padding-right: 4px;padding-bottom: 5px;padding-left: 8px;}
ul#nav li a#ctl00_lnkHome {background-color: #f2be2c;background-image: url(images/nav-icon-home.gif);background-repeat: no-repeat;background-position: 8px 3px;width:80px;}
ul#nav li a#ctl00_lnkBlog {background-color: #761e9f;background-image: url(images/nav-icon-blog.gif);background-repeat: no-repeat;background-position: 8px 3px;width:80px;}
ul#nav li a#ctl00_lnkRssreader {background-color: #f3650f;background-image: url(images/nav-icon-rss.gif);background-repeat: no-repeat;background-position: 8px 3px;width:80px;}
ul#nav li a#ctl00_lnkBookmark {background-color: #a7ca2f;background-image: url(images/nav-icon-bookmarks.gif);background-repeat: no-repeat;background-position: 8px 3px;width:80px;}
ul#nav li a#ctl00_lnkManageAdmTask {background-color: #333;background-image: url(images/nav-icon-admin.gif);background-repeat: no-repeat;background-position: 8px 3px;width:80px}	
ul#nav li a:hover { text-decoration:underline; }
/* align top nav to middle */
ul#nav.middle { float:none; display:block; margin:auto; width:597px; overflow:hidden; }
/* =Content */
a { text-decoration:none; color:#000; } /* all links are black with no underline, by default */
a:hover { text-decoration:underline; color:#000; } /* all hovers are black, underlined, by default */
#aside .img {margin: 8px 0 5px 0px;width: 15px;padding: 0;float: left;height: 15px;}
#aside .MostPopularNum{font-size:25px;font-weight:bolder;color:#6e6e6e;} /* profile avatar */
/* for warning messages like "Profile updated", etc. */
span.messages { background:#ffffff; color:#CC0033;}
span.welcome { float:left; }
span.logout { float:right; margin-right:10px; }
/* =Blogs*/
/* to add separation (margins and borders) to blog posts, and allow to style some elements differently from the rest (for example h4) */
/* also used to separate events */
div.blogpost { margin-bottom:13px; padding-bottom:7px; border-bottom:1px solid #ccc; }
div.blogpost h4 { font-weight:bold; font-size:14px; color:#666; }
/* div.content is around the actual content of the blog posts, so the p tags are a bit larger than the rest */
div.postcontent p { font-size:12px; }
/* headers inside the aside boxes (Profile, Network, Events) */
#aside h2 { color:#fff; font-size:15px; padding:8px 3px 7px 30px;}
/* aside paragraphs. since the box itself has no padding, the content within it has to have margins/paddings */
#aside p { margin-left:10px; }
/* main content paragraphs */
#content p,#content-full p { margin-bottom:8px; clear:both; }
/* h3 headers with background on the top */
h3.h-blog { background:url(images/h_blog.gif) no-repeat left top; padding-left:20px; padding-bottom:5px; color:#761e9f; font-weight:bold; font-size:15px; margin-bottom:8px; }
h3.h-rss { background:url(images/h_rss.gif) no-repeat left top; padding-left:24px; padding-bottom:5px; color:#f3650f; font-weight:bold; font-size:15px; margin-bottom:8px; }
h3.h-bookmarks { background:url(images/h_bookmarks.gif) no-repeat left top; padding-left:20px; padding-bottom:5px; color:#a7ca2f; font-weight:bold; font-size:15px; margin-bottom:8px; }
/*Class for Main Header in Administrative Tasks */
h3.MainHeaderClass { color: Black; font-weight: bold; font-size:medium; }
/*Class for Header of pages in Administrative Tasks */
h3.HeaderClass { color: Black; font-weight: bold; font-size: small; }
/* replace the width for h3 headers inside the content-full divs (when the page has no subnavigation div */
#content-full h3 { background-position:left 9px; padding:20px 0px 10px 0px; text-align:left; border-top:1px solid #999; width:auto; }
#content h4 { font-size:13px; font-weight:bold; margin-bottom:10px; }
/* form.simple-form input, */
div.simple-form textarea,
div.simple-form select { margin-bottom:0px; clear:both; display:block; width:153px; }
/* checkboxes and radio buttons, and their labels, have to float left so the labels are next to them and not in the next line */
div.simple-form input.checkbox,div.simple-form label.checkbox { float:left; }
div.simple-form input.checkbox { clear:none; margin-right:3px; width:auto; }
/* labels for checkboxes and radio buttons */
div.simple-form label.checkbox { clear:right; margin-bottom:14px; }
div.simple-form br { display:block; clear:both; height:1px; } /* invisible divider between some labels/checkboxes/radio buttons */ 
.btnBgClass { font:11px Arial, Helvetica, sans-serif; cursor:pointer; color:#FFF; background:#5b5b5b; border:1px solid #8c8c8c; padding:3px 6px; margin: 10px 0; border-bottom-color:#3c3c3c; border-right-color:#3c3c3c;}
.btnBgClass:hover { background:#686868; text-decoration:none; color:#fff; }
a.btnBgClass { clear:both; margin-top:0; }
/* iframe width and height throughout the admin*/
.Adminiframe { width:765px; height:600px; border:0px;}
/* Class for table throughout the application*/
.table-full{ width:100%;}
.table-adminblog{ width:100%;}
/* fck Editor throughout the application */
#fckeditor {width:90%; height:200px;}
.AdminRightMenu { text-align:right; width:100%; margin-top:10px; }
.AdminRightMenu a img { vertical-align:top; }
.AdminRightMenu p { line-height:30px; }
.AdminBlog{font-weight: bold; Font-Size:Large; }
.AdminBlogFeaturedSave{text-align: right; width: 88%;}
.txtEditor-AdminBlog { width:460px; height:120px; }
/*Class for paging link applied on DIV*/
.dvPaging { font-size:15px; margin:5px 0; }
.dvPaging a { padding:0 3px; }
#submenus-admin ul { margin:10px 0 20px 0; }
#submenus-admin div.sep { height:2px; background:#000; border:none; clear:both; margin-bottom:10px; overflow:hidden; }
#submenus-admin li { margin-bottom:10px; float:left; width:100%; clear:both; }
#submenus-admin li a { clear:both; display:block; padding:5px 5px 5px 26px; background:none no-repeat left 50%; }
#submenus-admin li a.billing {background-image:url(images/manage_billing.gif);}
#submenus-admin li a.themes {background-image:url(images/manage_themes.png);}
#submenus-admin li a.videos {background-image:url(images/manage_videos.gif);}
#submenus-admin li a.activity {background-image:url(images/manage_user_activity.gif);}
#submenus-admin li a.bookmarks {background-image:url(images/manage_bookmarks.gif);}
#submenus-admin li a.homepage {background-image:url(images/manage_front_end_components.gif);}
#submenus-admin li a.events {background-image:url(images/manage_events.gif);}
#submenus-admin li a.videos {background-image:url(images/manage_channels.gif);}
#submenus-admin li a.rss {background-image:url(images/manage_rss.gif);}
#submenus-admin li a.components {background-image:url(images/manage_components.gif);}
#submenus-admin li a.categories {background-image:url(images/manage_industries.gif);}
#submenus-admin li a.login {background-image:url(images/manage_login.gif);}
 /* for admintask */
.manage_users {background-image:url(images/manage_users.gif);width:20px; height:18px;margin:5px 0 10px 0;}
.manage_blogs {background-image:url(images/manage_blogs.gif);width:14px; height:18px;margin:5px 0 10px 0;}
.manage_rss {background-image:url(images/manage_rss.gif);width:18px; height:18px;margin:5px 0 10px 0;}
.manage_bookmarks {background-image:url(images/manage_bookmarks.gif);width:14px; height:18px;margin:5px 0 10px 0;}
.manage_videos {background-image:url(images/manage_videos.gif);width:18px; height:18px;margin:5px 0 10px 0;}
.manage_channels {background-image:url(images/manage_channels.gif);width:22px; height:18px;margin:5px 0 10px 0;}
.manage_components {background-image:url(images/manage_components.gif);width:18px; height:18px;margin:5px 0 10px 0;}
.manage_front_end_components {background-image:url(images/manage_front_end_components.gif);width:16px; height:18px;margin:5px 0 10px 0;}
.seo_icon {background-image:url(images/manage_seo.gif);width:22px; height:18px;margin:5px 0 10px 0;}
.login_icon {background-image:url(images/manage_login.gif);width:18px; height:18px;margin:5px 0 10px 0;}
.manage_industries {background-image:url(images/manage_industries.gif);width:18px; height:18px;margin:5px 0 10px 0;}
.manage_billing {background-image:url(images/manage_billing.gif);width:12px; height:18px;margin:5px 0 10px 0;}
.manage_search {background-image:url(images/manage_search.gif);width:20px; height:18px;margin:5px 0 10px 0;}
.manage_themes {background-image:url(images/manage_themes.gif);width:20px; height:20px;margin:5px 0 10px 0;}
/* Ads 11.12.2008 IVLeon */
div#ads-wrapper { width:1120px; margin:auto; }
div#page-wrapper { float:left; }
div.ads { text-align:center; }
div.ads.top_ad_box {width:770px;margin:20px 0 0 0;float:right;font-size:smaller;}
div.ads.left_ad_box {width:160px;margin:10px auto;clear:both;display:block;}
div.ads.right_ad_box { width:90px; height:600px; margin:5px 0 0 10px; float:left; }
div.ads.bottom_ad_box { width:468px; margin:10px auto; clear:both; display:block; }
/* new ad/widget blocks */
.liPagingFeeds{border-left: 1px solid black;padding:0 5px 0 5px;display:inline-block;font-weight:bold;font-size:11pt;margin:0 0 10px 0}
.liPagingFeeds:nth-of-type(1){border-left: 0px;}
.liPagingFeeds a{white-space:nowrap;cursor:pointer;}
.liPagingFeeds a.feedpaging-disabled{cursor:default;color:Red;text-decoration:none;}
.footer-col{border-left: solid 1px;text-align: left; padding-left: 60px;}
.footer-sep{height:0;width:0;}

#aside tr{border-bottom: 1pt solid #dfdfdf;}
#aside td{vertical-align:middle;}
#aside tr:hover {background-color: #efefef;}
.surfNewsContainer,.surfLinksContainer{width:100%;}
#widget_Grid_none p{display:none!important;}
.lblBlogPostsTitle{font-weight: bold;font-family: 'LeagueGothicRegular';font-size: 21px;}
.topheader_ad_box {float:right;position:relative;margin-top:20px;}
.tableBookmark{width:100%;}
.tableBookmark div.seperate{width:105.9%;margin: 0px 0px 0 -21px;height:1px;background-color:gray;border:0;}
.tableBookmark b{font-size:21px;}
.subscribebox{padding:5px;}
#divSubscribeForm{margin:10px 0 0px 0;}
.btnSuscribe{background-color:#5e6483;color:white;padding:7px 5px 7px 5px;border:0px;border-radius:2px;margin:10px 0 0px 0;}
.txtSubscribe{width:90%;height:20px;}
#divsurf_Search{padding-top: 5px;border-top: 1px solid #dfdfdf;border-bottom:1px solid #dfdfdf;background-color:#ffffff;}
.txtSearch{width:172px;height:30px;float:left;margin-left:2px;outline:none;border:1px solid #a3a3a3;}
input.txtSearch::-webkit-input-placeholder {color:green!important;font-size:17px;}
input.txtSearch:-moz-placeholder {/*Firefox 18-*/color:#a3a3a3!important;font-size:17px;}
input.txtSearch::-moz-placeholder {/*Firefox 19+*/color:#a3a3a3!important;font-size:17px;}
input.txtSearch:-ms-input-placeholder {color:#a3a3a3!important;font-size:17px;}
.btnSearch{width:31px;height:30px;float:left;border:1px solid #a3a3a3;border-left:0px;outline:none;}
.dvSearch{width:100%;height:35px;}
#rfvSearch{padding-left:5px;}
.searchtitle,.searchimg,.searchdesc{margin:5px 0 5px 0;}
.searchimg img{width:100%;}
#ContentPlaceHolderMain_SearchResult tr:nth-child(2n+1){border-bottom: 1px solid #a3a3a3;}


.LogInRegister
{
    padding-left:2%;
}
.LogInRegister .txtLoginRegister
{
    display:block;
    width:95%;
    height:20px;
}

.LogInRegister label,.LogInRegister a
{
    font-weight:bold;
    font-size:13px;
    display:block;
    margin-top:10px;
}

.LogInRegister label[for$="chkRememberMe"]
{
    margin-left:5px;
    vertical-align:top;
    display:inline;
}
.LogInRegister input[id$="chkRememberMe"]
{
    margin-top:5px;
    clear:left;
}
.SignOut
{
    float:right;
}
#user a{
    display:inline;
    margin:0!important;
    font-weight:normal;
    font-size:13px;
    text-decoration:underline;
}
#user{
   margin-top:15px;
}
.userName
{
    text-align:center;
    font-weight:bold;
}
.UserSettings
{
    width:90%;
    padding:10px 5% 10px 5%;
}
.UserSettings td{
    padding-bottom:15px;
}
.UserSettings label{
    font-weight:normal;
    font-size:14px
}
.UserSettings span {
    font-weight: bold;
    font-size: 15px;
    display:inline-block;
}

.UserSettings a{
    margin-left:20px;
    text-decoration:underline;
}

.UserSettings .txtLoginRegister
{
    display:block;
    width:400px;
    height:20px;
}
.usersettingbuttons div {
    display:inline-block;
}
.usersettingbuttons input[type="button"],.usersettingbuttons input[type="submit"]
{
    float:right;
    margin:0px;
    margin-left:10px;
}